<div style="margin: 20px;">
    <div class="row col-md-12" style="margin: 0px;padding : 0px">
        <div class="col-md-12">
            <label class="main_heading">GPN Contact</label>
            <button mat-raised-button (click)="NewRecord()" style="background-color: #F16950;color: white;margin-left: 30px;margin-top: 15px;">New Record</button>
            <button mat-raised-button style="height: 33px;background-color: #F16950;margin-left: 30px;color: white;margin-top: 15px;" (click)="Export()">Export
                <mat-icon style="font-size: 18px;color: white;">save_alt</mat-icon>
            </button>
            <mat-form-field style="width: 40%;margin-left: 50px;">
                <mat-label style="padding-left: 5px;font-weight: bold;">Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <label style="margin: 8px 0px 0px 15px;font-size: 16px;font-weight: bold;font-family: Arial, Helvetica, sans-serif;">Filtered Count  :&nbsp;&nbsp;</label>
            <label style="margin: 8px 25px 0px 0px;font-size: 16px;font-weight: bold;font-family: Arial, Helvetica, sans-serif;">{{FilteredCount}}</label>
        </div>
    </div>
</div>
<div *ngIf="ShowForm" class="mat-elevation-z2" style="margin: 15px 20px 0px 20px;">
    <div class="row col-md-12" style="margin: 0px;padding : 0px">
        <div class="col-md-12">
            <label class="heading">{{HeadingName}}</label>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Region</mat-label>
                <input style="color: gray;" [formControl]="Region" type="text" required matInput [errorStateMatcher]="matcher">
                <mat-error *ngIf="Region.hasError('required')">
                    Region is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Type</mat-label>
                <input style="color: gray;" [formControl]="Type" type="text" matInput required [errorStateMatcher]="matcher">
                <mat-error *ngIf="Type.hasError('required')">
                    Type is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Country</mat-label>
                <input style="color: gray;" [formControl]="Country" type="text" matInput required [errorStateMatcher]="matcher">
                <mat-error *ngIf="Country.hasError('required')">
                    Country is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form" >
                <mat-label style="font-size: 15px;">Groups</mat-label>
                <input style="color: gray;" [formControl]="Groups" type="text" name="Groups" matInput>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Glory DL DLCBR</mat-label>
                <input style="color: gray;" [formControl]="Glory_DL_DLCBR" type="text" matInput required [errorStateMatcher]="matcher">
                <mat-error *ngIf="Glory_DL_DLCBR.hasError('required')">
                    Glory DL DLCBR is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Data Submit Frequency</mat-label>
                <input style="color: gray;" [formControl]="DataSubmitFrequency" type="text" matInput required [errorStateMatcher]="matcher">
                <mat-error *ngIf="DataSubmitFrequency.hasError('required')">
                    Data Submit Frequency is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Send Error Report Frequency</mat-label>
                <input style="color: gray;" [formControl]="SendErrorReportFrequency" type="text" matInput required [errorStateMatcher]="matcher">
                <mat-error *ngIf="SendErrorReportFrequency.hasError('required')">
                    Send Error Report Frequency is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Main Contact Group Email ID</mat-label>
                <input style="color: gray;" [formControl]="MainContactGroupEmailAddress" type="text" matInput required [errorStateMatcher]="matcher">
                <mat-error *ngIf="MainContactGroupEmailAddress.hasError('required')">
                    Main Contact Group Email ID is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Group Name</mat-label>
                <input style="color: gray;" [formControl]="GroupName" type="text" name="GroupName" matInput>
            </mat-form-field>
        </div>
        <div class="col-md-12" style="margin: 0px;padding: 0px;">
            <button mat-raised-button (click)="OnSaveClick()" style="background-color: #F16950;color: white;margin-left: 30px;margin-bottom: 30px;margin-top: 15px;">{{ButtonName}}</button>
            <label style="color: #F16950;margin-top: 15px;margin-left: 30px;margin-bottom: 30px;text-decoration: underline;" (click)="OnCancelClick()">Cancel</label>
        </div>
    </div>
</div>
<div style="margin: 15px 20px 20px 20px;">
    <div class="row col-md-12" style="margin: 0px;padding : 0px">
        <div class="example-container mat-elevation-z2" [ngStyle]="{'height' : (screenHeight-230)+'px'}" style="border: 2px solid black;">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Region">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes" style="padding-left: 10px;"> Region </th>
                    <td mat-cell *matCellDef="let element" class="texttd" style="padding-left: 0px;"> {{element.Region}} </td>
                </ng-container>
                <ng-container matColumnDef="Type">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Type</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.Type}} </td>
                </ng-container>
                <ng-container matColumnDef="Country">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Country</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.Country}} </td>
                </ng-container>
                <ng-container matColumnDef="Groups">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Groups</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.Groups}} </td>
                </ng-container>
                <ng-container matColumnDef="Glory_DL_DLCBR">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Glory DL DLCBR</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.Glory_DL_DLCBR}} </td>
                </ng-container>
                <ng-container matColumnDef="DataSubmitFrequency">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes"> Data Submit Frequency</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.DataSubmitFrequency}} </td>
                </ng-container>
                <ng-container matColumnDef="SendErrorReportFrequency">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Send Error Report Frequency</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.SendErrorReportFrequency}} </td>
                </ng-container>
                <ng-container matColumnDef="MainContactGroupEmailAddress">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Main Contact Group Email ID</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.MainContactGroupEmailAddress}} </td>
                </ng-container>
                <ng-container matColumnDef="GroupName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">GroupName</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.GroupName}} </td>
                </ng-container>
                <ng-container matColumnDef="InsertedBy">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Created By</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.InsertedBy}} </td>
                </ng-container>
                <ng-container matColumnDef="Inserted_On">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Created On</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.Inserted_On}} </td>
                </ng-container>
                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes" style="max-width: 150px;padding-right: 10px;border-left: 1px solid rgb(196, 196, 196)">Edit</th>
                    <td mat-cell *matCellDef="let element;let j=index;" style="max-width: 150px;padding-right: 10px;border-right: none;border-left: 1px solid rgb(196, 196, 196);">
                        <!-- <button mat-icon-button style="color:gray;"> -->
                            <mat-icon style="display: inline;margin-left: 8px;margin-right: 6px;cursor: pointer;" aria-label="Edit" (click)="RowSelected(element.GPNId)">edit</mat-icon>
                            <p style="display: inline;margin-right: 6px;font-size: 26px;">|</p>
                            <mat-icon style="display: inline;margin-right: 8px;cursor: pointer;" aria-label="Delete" (click)="Deleterow(element.GPNId)">delete</mat-icon>
                        <!-- </button> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" style="height: 23px;"></tr>
            </table>
        </div>
    </div>
</div>