/* Styles for tab labels */
.mat-tab-label {
    color: white;
}
/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    color: yellow ;
    /* #F16950 */
    font-size: 15px;
    font-weight: bold;
    background-color: #333F48;
    font-family: "Montserrat", sans-serif;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar { height:2px;background-color: yellow; }
/* .row {margin-left:0px;margin-right:0px}
.container {width:100%;max-width:none;padding:0;} */
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  .example-container {
    border-radius: 5px;
  }
  table {
    width: 100%;
  }
  tr.mat-footer-row {
    font-weight: bold;
  }
  .textSizes
  {
    font-size: 14px;
    font-weight: bold;
    color : #333F48 ;
    font-family: "Arial";
  }
  .textSizes_header{
    
    font-size: 16px;
    font-weight: 550;
    font-family: "Arial";
    text-align: center;
    color: white;
  }
  .mat-cell,.mat-header-cell {
    padding-right: 15px;
    min-width: 80px;
    max-width: 250px;
    /* width: max-content;
    white-space: nowrap; */
  }
  .mat-form-wrap{
    width: 100%;
    margin-top: 10px;
  }