<div style="margin: 20px;">
    <div class="row col-md-12" style="margin: 0px;padding : 0px">
        <div class="col-md-12">
            <label class="main_heading">NPS - Client Info</label>
            <button mat-raised-button (click)="NewRecord()" style="background-color: #F16950;color: white;margin-left: 30px;margin-top: 15px;">New Record</button>
            <button mat-raised-button style="height: 33px;background-color: #F16950;margin-left: 30px;color: white;margin-top: 15px;" (click)="Export()">Export
                <mat-icon style="font-size: 18px;color: white;">save_alt</mat-icon>
            </button>
            <mat-form-field style="width: 40%;margin-left: 50px;">
                <mat-label style="padding-left: 5px;font-weight: bold;">Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <label style="margin: 8px 0px 0px 15px;font-size: 16px;font-weight: bold;font-family: Arial, Helvetica, sans-serif;">Filtered Count  :&nbsp;&nbsp;</label>
            <label style="margin: 8px 25px 0px 0px;font-size: 16px;font-weight: bold;font-family: Arial, Helvetica, sans-serif;">{{FilteredCount}}</label>
        </div>
    </div>
</div>
<div *ngIf="ShowForm" class="mat-elevation-z2" style="margin: 15px 20px 0px 20px;">
    <div class="row col-md-12" style="margin: 0px;padding : 0px">
        <div class="col-md-12">
            <label class="heading">{{HeadingName}}</label>
        </div>
        <div class="col-md-12" *ngIf="ButtonName == 'Save' ? true : false">
            <div class="row" style="margin: 20px 0px 0px 0px;">
                <label style="font-size: 15px;color: #7a7a7a;padding: 0px 0px 0px 15px;">Get details from CLR by using Opportunity ID in below input fields</label>
            </div>
            <div class="row" style="margin: 5px 0px 0px 0px;">
                <mat-form-field appearance="outline" class="col-md-3">
                    <mat-label style="font-size: 15px;">Opportunity ID </mat-label>
                    <input style="color: gray;" [(ngModel)]="OppID" name="OppID" matInput>
                </mat-form-field>
                <button mat-raised-button (click)="OnApplyClick()" style="height: 35px;background-color: #F16950;color: white;margin-left: 20px;margin-top: 10px;"><span class="material-icons">forward</span></button>    
            </div>
            <div class="row" style="margin: 0px;">
                <label style="font-size: 13px;color: rgb(255, 56, 56);padding: 0px 0px 0px 20px;">{{OppIDErrorMessage}}</label>
            </div>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Company Name</mat-label>
                <input style="color: gray;" [formControl]="CompanyName" type="text" required matInput [errorStateMatcher]="matcher">
                <mat-error *ngIf="CompanyName.hasError('required')">
                    Company Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Client First and Last Name</mat-label>
                <input style="color: gray;" [formControl]="ClientName" type="text" matInput required [errorStateMatcher]="matcher">
                <mat-error *ngIf="ClientName.hasError('required')">
                    Client name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form" >
                <mat-label style="font-size: 15px;">Client Contact Number</mat-label>
                <input style="color: gray;" [(ngModel)]="ClientContactNumber" type="text" name="ClientContactNumber" matInput>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form" >
                <mat-label style="font-size: 15px;">Email address (Client)</mat-label>
                <input style="color: gray;" [formControl]="Email" type="email" required  matInput [errorStateMatcher]="matcher">
                <mat-error *ngIf="Email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="Email.hasError('email') && !Email.hasError('required')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form" >
                <mat-label style="font-size: 15px;">Region</mat-label>
                <mat-select [formControl]="Region" required [errorStateMatcher]="matcher">
                    <mat-option value="APAC">APAC</mat-option>
                    <mat-option value="EMEA">EMEA</mat-option>
                    <mat-option value="NORAM">NORAM</mat-option>
                    <mat-option value="LATAM">LATAM</mat-option>
                    <mat-option value="Global">Global</mat-option>
                    <!-- <mat-option value="Regional">Regional</mat-option> -->
                </mat-select>
                <mat-error *ngIf="Region.hasError('required')">
                    Region is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Country/Area of Responsibility</mat-label>
                <mat-select [formControl]="Country" required [errorStateMatcher]="matcher">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="CountrySearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let C_list of CountryData | async" [value]="C_list.Country">{{C_list.Country}}</mat-option>
                </mat-select>
                <mat-error *ngIf="Country.hasError('required')">
                    Country is <strong>required</strong>
                </mat-error>
                <!-- <input style="color: gray;" [(ngModel)]="Country" name="Country" matInput> -->
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form" >
                <mat-label>Go Live Date</mat-label>
                <input matInput [matDatepicker]="GoLiveDate" [(ngModel)]="DateGolive" required>
                <!-- [min]="todayDate" -->
                <mat-datepicker-toggle matSuffix [for]="GoLiveDate"></mat-datepicker-toggle>
                <mat-datepicker #GoLiveDate color="primary"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form" >
                <mat-label style="font-size: 15px;">Language</mat-label>
                <mat-select [formControl]="Language" required [errorStateMatcher]="matcher">
                    <mat-option value="English">English</mat-option>
                    <mat-option value="French">French</mat-option>
                    <mat-option value="Spanish">Spanish</mat-option>
                    <mat-option value="German">German</mat-option>
                    <mat-option value="Italian">Italian</mat-option>
                    <mat-option value="Portuguese">Portuguese</mat-option>
                    <mat-option value="Chinese">Chinese</mat-option>
                </mat-select>
                <mat-error *ngIf="Language.hasError('required')">
                    Language is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Global Manager</mat-label>
                <mat-select [formControl]="GManager">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="GPMsearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let manager of GPMData | async" [value]="manager.GlobalProjectManager">{{manager.GlobalProjectManager}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form">
                <mat-label style="font-size: 15px;">Regional Manager</mat-label>
                <mat-select [formControl]="RManager">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="RPMsearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let manager of RPMData | async" [value]="manager.GlobalProjectManager">{{manager.GlobalProjectManager}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form" >
                <mat-label style="font-size: 15px;">Local Manager</mat-label>
                <mat-select [formControl]="LManager">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="AFNsearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let manager of AFNData | async" [value]="manager.GlobalProjectManager">{{manager.GlobalProjectManager}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form" >
                <mat-label style="font-size: 15px;">Client Type - New/Existing</mat-label>
                <mat-select [formControl]="ClientType" required [errorStateMatcher]="matcher">
                    <mat-option value="New">New</mat-option>
                    <mat-option value="Existing">Existing</mat-option>
                </mat-select>
                <mat-error *ngIf="ClientType.hasError('required')">
                    ClientType is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- <div class="col-md-4">
            <mat-form-field class="mat-form" >
                <mat-label style="font-size: 15px;">Single Resource</mat-label>
                <mat-select [(value)]="SingleResource" required>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
        <div class="col-md-12" style="margin: 0px;padding: 0px;">
            <button mat-raised-button (click)="OnSaveClick()" style="background-color: #F16950;color: white;margin-left: 30px;margin-bottom: 30px;margin-top: 15px;">{{ButtonName}}</button>
            <label style="color: #F16950;margin-top: 15px;margin-left: 30px;margin-bottom: 30px;text-decoration: underline;" (click)="OnCancelClick()">Cancel</label>
        </div>
    </div>
</div>
<div style="margin: 15px 20px 20px 20px;">
    <div class="row col-md-12" style="margin: 0px;padding : 0px">
        <div class="example-container mat-elevation-z2" [ngStyle]="{'height' : (screenHeight-230)+'px'}" style="border: 2px solid black;">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Company">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes" style="padding-left: 10px;"> Company Name </th>
                    <td mat-cell *matCellDef="let element" class="texttd" style="padding-left: 0px;"> {{element.Company}} </td>
                </ng-container>
                <ng-container matColumnDef="ClientName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Client First and Last Name</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.ClientName}} </td>
                </ng-container>
                <ng-container matColumnDef="Country">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Country</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.Country}} </td>
                </ng-container>
                <ng-container matColumnDef="Region">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Region</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.Region}} </td>
                </ng-container>
                <ng-container matColumnDef="Email">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Email</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.Email}} </td>
                </ng-container>
                <ng-container matColumnDef="InsertedBy">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Created By</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.InsertedBy}} </td>
                </ng-container>
                <ng-container matColumnDef="Inserted_On">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes">Created On</th>
                    <td mat-cell *matCellDef="let element" class="texttd"> {{element.Inserted_On}} </td>
                </ng-container>
                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="maintextSizes" style="max-width: 150px;padding-right: 10px;border-left: 1px solid rgb(196, 196, 196)">Edit</th>
                    <td mat-cell *matCellDef="let element;let j=index;" style="max-width: 150px;padding-right: 10px;border-right: none;border-left: 1px solid rgb(196, 196, 196);">
                        <!-- <button mat-icon-button style="color:gray;"> -->
                            <mat-icon style="display: inline;margin-left: 8px;margin-right: 6px;cursor: pointer;" aria-label="Edit" (click)="RowSelected(element.NpsId)">edit</mat-icon>
                            <p style="display: inline;margin-right: 6px;font-size: 26px;">|</p>
                            <mat-icon style="display: inline;margin-right: 8px;cursor: pointer;" aria-label="Delete" (click)="Deleterow(element.NpsId,element.ClientName)">delete</mat-icon>
                        <!-- </button> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" style="height: 23px;"></tr>
            </table>
        </div>
    </div>
</div>