.example-container {
    /* height: 450px; */
    overflow: auto; 
    margin-top: 20px;
}
.maintextSizes{
  font-size: 13px;
  font-weight: bold;
  color : black;
  font-family: "Arial";
  text-align: center;
  white-space: nowrap;
  min-width: 170px;
  max-width: 300px;
  border-right: 1px solid black;
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  width: max-content;
  white-space: nowrap;
}
.maincelltextSizes{
  min-width: 170px;
  max-width: 300px;
  width: max-content;
  white-space: nowrap;
  white-space: normal;
}
.mat-column-actions {
  min-width: 50px;
  max-width: 50px;
  font-size: 13px;
  font-weight: bold;
  color : black;
  font-family: "Arial";
  text-align: center;
  white-space: nowrap;
  border-right: 1px solid black;
  font-family: "Montserrat", sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}
.textSizes
{
  height: 90px;
  width: 25px;
  text-align: center;
  white-space: nowrap;
  border-right: 1px solid black;
  color : darkslategray;
  font-family: "Montserrat", sans-serif;
}
.texttd{
  text-align: center;
  font-size : 13px;
  border-right : 1px solid black;
  min-width : 25px;
  max-width : 300px;
  width : max-content;
  white-space: normal;
  margin-left: 0px;
  padding-left: 8px;
  margin-right: 0px;
  padding-right: 8px;
}
.showlessText{
  /* text-overflow : clip; */
  text-overflow: ellipsis;
  overflow: hidden;
  width: 180px;
  cursor: pointer;
  white-space: nowrap;
}
.showlessText:hover{
  color : #333F48;
  font-weight: bold;
  text-decoration: underline;
}
.formheader{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 10px;
  margin : 0px;
  height: 80px;
  width: 100%;
  border-right : 1px solid black;
}
.mat-form-wrap{
  /* min-width: 170px;
  max-width: 300px; */
  width: 100%;
  /* font-weight: bold;
  font-size: 15px; */
  /* margin-top: 10px; */
}
.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}
/* input outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  /* color: #F43940; */
  color: #3F51B5 ;
}
/* input on hover */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #3F51B5 ;
}
/* mat-input focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #3F51B5 ;
}
::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
}
::ng-deep .mat-sort-header-button {
  outline: none !important;
}
.boxshape{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 3px;
  cursor : default;
}
.legendlabels{
  height: 25px;
  top: 0px;
  margin-top: 20px;
}
::ng-deep .mat-table-sticky:first-child {
  border-right: 1px solid #000000;
  /* border-collapse: collapse;  */
}
/* .mat-column-Client{
  border-right: solid 1px #000000;
  left: 0;
  top: auto;
}
.mat-column-Client_h{
  border-right: solid 1px #000000;
  left: 0;
  top: auto;
} */