<div class="row" style="margin: 0px;padding: 0px;">
    <!-- <div class="col-md-12">
        <label style="margin: 8px 0px 0px 15px;font-size: 16px;font-weight: bold;font-family: Arial, Helvetica, sans-serif;">Count  :&nbsp;&nbsp;</label>
        <label style="margin: 8px 25px 0px 0px;font-size: 16px;font-weight: bold;font-family: Arial, Helvetica, sans-serif;">{{FilteredCount}}</label>       
    </div> -->
    <div class="col-md-12">
        <div class="example-container" [ngStyle]="{'height' : (screenHeight-115)+'px'}" style="border: 1px solid rgb(196, 196, 196);">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Client">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="padding-left: 10px;background-color:  rgb(112, 173, 71);color: white;">Client</th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 10px;"> {{element.Client}} </td>
                </ng-container>
                <ng-container matColumnDef="RevenueVolume">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="background-color:  rgb(112, 173, 71);color: white;">Revenue Volume</th>
                    <td mat-cell *matCellDef="let element" class="manager_text"> {{element.RevenueVolume}} </td>
                </ng-container>
                <ng-container matColumnDef="Region">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="background-color:  rgb(112, 173, 71);color: white;">Region</th>
                    <td mat-cell *matCellDef="let element"> {{element.Region}} </td>
                </ng-container>
                <ng-container matColumnDef="ProjectEffort">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="background-color:  rgb(112, 173, 71);color: white;">Total Project Effort</th>
                    <td mat-cell *matCellDef="let element"> {{element.ProjectEffort}} </td>
                </ng-container>
                <ng-container matColumnDef="GlobalProjectManager">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="background-color:  rgb(112, 173, 71);color: white;"> Global Project Manager</th>
                    <td mat-cell *matCellDef="let element"> {{element.GlobalProjectManager}} </td>
                </ng-container>
                <ng-container matColumnDef="RegionalProjectManager">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="background-color:  rgb(112, 173, 71);color: white;">Regional Project Manager</th>
                    <td mat-cell *matCellDef="let element" > {{element.RegionalProjectManager}} </td>
                </ng-container>
                <ng-container matColumnDef="AssigneeFullName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="background-color:  rgb(112, 173, 71);color: white;"> Assignee FullName</th>
                    <td mat-cell *matCellDef="let element"> {{element.AssigneeFullName}} </td>
                </ng-container>
                <ng-container matColumnDef="Golive">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="background-color:  rgb(112, 173, 71);color: white;"> Go Live Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.Golive}} </td>
                </ng-container>
                <ng-container matColumnDef="ProjectStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="background-color:  rgb(112, 173, 71);color: white;"> Project Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.ProjectStatus}} </td>
                </ng-container>
                <ng-container matColumnDef="ProjectLevel">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="background-color:  rgb(112, 173, 71);color: white;"> Project Level</th>
                    <td mat-cell *matCellDef="let element"> {{element.ProjectLevel}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky : true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>