<div class="card mat-elevation-z3 row" style="margin: 30px 15px 0px 15px;padding: 0px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
    <div class="col-md-12 header_wrap_ad">
        <label class="col-md-12 header_text_ad">{{HeaderText}}</label>
        <div class="inside_wrap_ad">
            <button mat-icon-button class="Cancel_button_ad" tabindex="-1" (click)="OnCancelClick()">
                <mat-icon style="font-size: 30px;">close</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider style="width: 100%;"></mat-divider>
    <div class="col-md-12">
        <div class="row" style="margin : 20px 0px 0px 0px;width: 100%;">
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Revenue ID</mat-label>
                <input style="color: gray;" [(ngModel)]="RevenueID" type="number" name="RevenueID" matInput disabled>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Client</mat-label>
                <input style="color: gray;" [(ngModel)]="Client" name="Client" matInput>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="StartDate" [(ngModel)]="DateStart">
                <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
                <mat-datepicker #StartDate color="primary"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label>Go Live Date</mat-label>
                <input matInput [matDatepicker]="GoLiveDate" [min]="todayDate" [(ngModel)]="DateGolive">
                <mat-datepicker-toggle matSuffix [for]="GoLiveDate"></mat-datepicker-toggle>
                <mat-datepicker #GoLiveDate color="primary"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Region</mat-label>
                <mat-select [formControl]="Region" (selectionChange)="onRegionchange()">
                    <mat-option *ngFor="let region of RegionList" [value]="region">{{region}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Country</mat-label>
                <mat-select [formControl]="Country" [disabled]="DisableCountry">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="CountrySearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let C_list of CountryData | async" [value]="C_list.Country">{{C_list.Country}}</mat-option>
                </mat-select>
                <!-- <input style="color: gray;" [(ngModel)]="Country" name="Country" matInput> -->
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Project Status</mat-label>
                <mat-select [formControl]="ProjectStatus">
                    <mat-option *ngFor="let Pstatus of ProjectStatusList" [value]="Pstatus">{{Pstatus}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Global Digital OBT Lead</mat-label>
                <mat-select [formControl]="GlobalCISOBTLead">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="GlobalCISOBTLeadsearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let manager of GlobalOBTDigitalTeamData | async" [value]="manager.Manager">{{manager.Manager}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Regional Digital OBT Lead</mat-label>
                <mat-select [formControl]="RegionalCISOBTLead">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="RegionalCISOBTLeadsearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let manager of RegionalOBTDigitalTeamData | async" [value]="manager.Manager">{{manager.Manager}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Local Digital OBT Lead</mat-label>
                <mat-select [formControl]="LocalDigitalOBTLead">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="LocalDigitalOBTLeadsearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let manager of LocalOBTDigitalTeamData | async" [value]="manager.Manager">{{manager.Manager}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Global Digital Portrait Lead</mat-label>
                <mat-select [formControl]="GlobalCISPortraitLead">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="GlobalCISPortraitLeadsearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let manager of GlobalPortraitDigitalTeamData | async" [value]="manager.Manager">{{manager.Manager}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Regional Digital Portrait Lead</mat-label>
                <mat-select [formControl]="RegionalCISPortraitLead">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="RegionalCISPortraitLeadsearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let manager of RegionalPortraitDigitalTeamData | async" [value]="manager.Manager">{{manager.Manager}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Global Digital HR Feed Specialist</mat-label>
                <mat-select [formControl]="GlobalCISHRFeedSpecialist">
                    <mat-option>
                        <ngx-mat-select-search
                          [formControl]="GlobalCISHRFeedSpecialistsearch"
                          placeholderLabel=""
                          noEntriesFoundLabel="'no match found'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let manager of GlobalHRFeedDigitalTeamData | async" [value]="manager.Manager">{{manager.Manager}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">GDS</mat-label>
                <mat-select [formControl]="GDS">
                    <mat-option *ngFor="let gds of GDSList" [value]="gds">{{gds}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Activity Type</mat-label>
                <input style="color: gray;" [(ngModel)]="ActivityType" name="ActivityType" matInput disabled>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label style="font-size: 15px;">Complexity Score</mat-label>
                <input style="color: gray;" min="0" max="200" [(ngModel)]="ComplexityScore" type="number" name="ComplexityScore" matInput>
            </mat-form-field>
            <mat-form-field class="col-md-3" *ngIf="NgIfStatus">
                <mat-label style="font-size: 15px;">Record Status</mat-label>
                <mat-select [(value)]="Record_Status">
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Deactivate">Deactivate</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label style="font-size: 15px;">Comments</mat-label>
                <textarea rows="3" style="color: gray;" [(ngModel)]="Comments" name="Comments" matInput></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="col-md-12" style="margin: 0px;padding: 0px;text-align: center">
        <button mat-raised-button (click)="OnSaveClick()" style="background-color: #F16950;color: white;margin-right: 20px;margin-bottom: 30px;margin-top: 15px;">{{ButtonName}}</button>
    </div>
</div>