.example-container {
    max-height: 480px;
    overflow: auto; 
    width: 100%;
    border-radius: 5px;
  }
  .textSizes
  {
    font-size: 15px;
    font-weight: bold;
    color : darkslategray;
    font-family: "Montserrat", sans-serif;
  }
  .row_textsize{
    padding-left: 5px;
    padding-right: 10px;
    color: black;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
  }
  .mat-cell,.mat-header-cell {
    padding-right: 15px;
    width: max-content;
    white-space: nowrap;
  }
  table {
    width: 100%;
  }