<div style="width: 100%;">
    <label>Update Comments Here</label>
</div>
<div style="background-color: rgb(212, 212, 212);height: 1px;margin-bottom: 15px;" class="col-12"></div>
<div class="row">
    <mat-form-field  style="width: 100%;" class="col-md-12">
        <mat-label style="font-size: 15px;">Comments</mat-label>
        <textarea rows="5" style="color: gray;" [(ngModel)]="Comments" name="Pipeline_comments" (input)="onCommentChanged()" matInput></textarea>
    </mat-form-field>
    <div class="col-12" style="height: 35px;margin: 0px;padding: 0px;text-align: center">
        <button mat-raised-button style="margin-right: 10px;" [ngStyle]="{'background-color' : DisableButton == true ? '#DBDBDB' : '#F16950','color' : DisableButton == true ? '#C8C8C8' : '#FFFFFF'}" (click)="UpdateComment()" [disabled]="DisableButton">Update</button>
        <button mat-raised-button style="background-color: #F16950;color: white;" (click)="OnCloseClick()">Close</button>
    </div>
</div>