<mat-drawer-container>
    <mat-drawer mode="side" #sidenav opened style="position: fixed;padding-top: 60px;width: 15%;border: 1px solid #333F48;">
        <div class="row" style="margin: 0px;padding: 0px;">
            <div class="col-12" style="margin: 0px;padding: 0px;">
                <div class="sticky">
                    <div class="row col-12" style="background-color: #333F48;color: white;height: 60px;padding: 15px 10px 5px 10px; margin : 0px;text-align: center">
                        <label class="col-5" style="height: 35px;font-size: 20px;text-align: center;margin-top: 10px;padding-left: 25px">Filters</label>
                        <div class="col-2">
                            <button mat-icon-button style="color: white;cursor: pointer;" (click)="ResetFilters()">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                        </div>
                        <div class="col-5" style="margin-top: 5px;text-align: right;padding: 0px;">
                            <button class="btn-style" (click)="SetGraph('Overall')" [ngStyle]="{'background-color': Apply_disable == true ?  '#DCDCDC' : '#F16950','color' :  Apply_disable == true ? '#AEAEAE' : 'white'}" [disabled]="Apply_disable">Apply</button>
                        </div>
                    </div>
                </div>
                <mat-accordion multi="true" style="margin: 0px;padding: 0px;">
                    <mat-expansion-panel class="mat-elevation-z0" style="margin: 10px 0px 0px 0px;" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'35px'" [expandedHeight]="'35px'">
                            <mat-panel-title style="margin-left: 0px">
                                <label style="padding-top: 10px;">Go Live year</label>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider style="width: 100%;margin: 10px 0px 0px 0px;"></mat-divider>
                        <mat-nav-list>
                            <!-- <mat-list-item style="height: 35px;"><mat-checkbox class="example-margin" [(ngModel)]="c_masteryear" name="c_masteryear" (change)="c_checkUncheckYears()">Select all</mat-checkbox></mat-list-item> -->
                            <mat-list-item style="height: 35px;" *ngFor="let cyear of c_yearList;"><mat-checkbox class="example-margin" [(ngModel)]="cyear.isSelected" (change)="c_yearsSelected(cyear.Go_Live_Year)" name="cyear.Go_Live_Year">{{cyear.Go_Live_Year}}</mat-checkbox></mat-list-item>
                        </mat-nav-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mat-elevation-z0" style="margin: 10px 0px 0px 0px;" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'35px'" [expandedHeight]="'35px'">
                            <mat-panel-title style="margin-left: 0px">
                                <label style="padding-top: 10px;">Project Status</label>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider style="width: 100%;margin: 10px 0px 0px 0px;"></mat-divider>
                        <mat-nav-list>
                            <mat-list-item style="height: 35px;"><mat-checkbox class="example-margin" [(ngModel)]="c_masterMilestonestatus" name="c_masterMilestonestatus" (change)="c_checkUncheckMilestoneStatus()">Select all</mat-checkbox></mat-list-item>
                            <mat-list-item style="height: 35px;" *ngFor="let cMilestonestatus of c_MilestonestatusList"><mat-checkbox class="example-margin" [(ngModel)]="cMilestonestatus.isSelected" (change)="c_MilestoneStatusSelected()" name="cMilestonestatus.ProjectStatus">{{cMilestonestatus.ProjectStatus}}</mat-checkbox></mat-list-item>
                        </mat-nav-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mat-elevation-z0" style="margin: 10px 0px 0px 0px;" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'35px'" [expandedHeight]="'35px'">
                            <mat-panel-title style="margin-left: 0px">
                                <label style="padding-top: 10px;">Region</label>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider style="width: 100%;margin: 10px 0px 0px 0px;"></mat-divider>
                        <mat-nav-list>
                            <mat-list-item style="height: 35px;"><mat-checkbox class="example-margin" [(ngModel)]="c_masterregion" name="c_masterregion" (change)="c_checkUncheckRegion()">Select all</mat-checkbox></mat-list-item>
                            <mat-list-item style="height: 35px;" *ngFor="let cregion of c_regionList" ><mat-checkbox class="example-margin" [(ngModel)]="cregion.isSelected" (change)="c_regionSelected()" name="cregion.Region__Opportunity_">{{cregion.Region__Opportunity_}}</mat-checkbox></mat-list-item>
                        </mat-nav-list>
                    </mat-expansion-panel>
                    <!-- <div class="li_main" [ngStyle]="{'position' : cregionEp.expanded == true ? 'sticky' : 'static'}" style="bottom: 0px;padding-bottom: 5px;">
                        <li class="li_items" *ngFor="let cSregion of c_regionListSelected"><label>{{cSregion.Region__Opportunity_}}</label><label class="li_button" (click)="c_deselectregion(cSregion.Region__Opportunity_)">X</label></li>
                    </div> -->
                </mat-accordion>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="row" style="margin: 0px;padding: 0px;position: relative;">
            <div class="row col-md-12">
                <!-- <div class="col-md-6">
                    <mat-card class="example-card mat-elevation-z2" style="margin-left: 15px;height: auto;overflow: auto;padding: 0px;">
                        <div class="col-12" style="height: 35px;background-color: #34495E ;color:white;padding: 5px 0px 0px 0px; margin : 0px;text-align: center">
                            <label style="width: 100%;font-size: 16px;margin-top: 5px;text-align: center;font-family: Montserrat, sans-serif">Average Cycle Time <label style="color: rgb(245, 176, 65);">({{SelectedCategory}})</label></label>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div style="width: 100%;text-align: center;padding-left: 40%;">
                                <mat-spinner *ngIf="allloader" strokeWidth="5" color="warn" style="margin-top: 100px;"></mat-spinner>
                            </div>
                            <canvas id="Allcanvas">
                            </canvas>
                        </div>
                    </mat-card>
                </div> -->
                <div class="col-md-12">
                    <mat-card class="example-card mat-elevation-z2" style="margin-left: 15px;height: auto;overflow: auto;padding: 0px;">
                        <div class="col-12" style="height: 35px;background-color: #34495E ;color:white;padding: 5px 0px 0px 0px; margin : 0px;text-align: center">
                            <label style="width: 100%;font-size: 16px;margin-top: 5px;text-align: center;font-family: Montserrat, sans-serif">Average Cycle Time: Current Vs Target Vs Project Count <label style="color: rgb(245, 176, 65);">({{SelectedCategory}})</label></label>
                            <!-- <label style="width: 100%;font-size: 10px;margin: 0px;height: 18px;text-align: center;">Distinct count of Workspace Title</label> -->
                        </div>
                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div style="width: 100%;text-align: center;padding-left: 40%;">
                                <mat-spinner *ngIf="allloader" strokeWidth="5" style="margin-top: 100px;" color="warn"></mat-spinner>
                            </div>
                            <canvas id="TargetsCanvas" height="100">
                            </canvas>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-12">
                    <div class="example-container" style="height: auto;margin-left: 15px;border: 2px solid black;;">
                        <table mat-table matTableFilter [dataSource]="dataSource" style="text-align: center;">
                            <ng-container matColumnDef="CycleTimeCategory">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="padding-left: 10px;background-color:  #34495E;color: white;text-align: center;"> Cycle Time Categories </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedCategory != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" style="padding-left: 10px;text-align: left;" (click)="CategoryClick(element.CycleTimeCategory)"> {{element.CycleTimeCategory}} </td>
                            </ng-container>
                            <ng-container matColumnDef="January_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Jan </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Jan' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Jan')"> {{element.January_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="February_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Feb </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Feb' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Feb')"> {{element.February_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="March_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Mar </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Mar' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Mar')"> {{element.March_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="April_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Apr </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Apr' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Apr')"> {{element.April_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="May_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> May </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'May' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'May')"> {{element.May_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="June_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Jun </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Jun' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Jun')"> {{element.June_A}} </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="H_One_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> H-1 </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color' : element.TargetH1 >= element.H_One_A ? '#A9D08E' : (element.TargetH1 < element.H_One_A && (element.TargetH1+5) > element.H_One_A) ? '#FFE699' : '#FF7C80'}" style="font-weight: bold;"> {{element.H_One_A}} </td>
                            </ng-container> -->
                            <!-- <ng-container matColumnDef="TargetH1">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Target H1 </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : 'rgb(213, 216, 220)'}" style="font-weight: bold;"> {{element.TargetH1}} </td>
                            </ng-container> -->
                            <ng-container matColumnDef="July_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Jul </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Jul' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Jul')"> {{element.July_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="August_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Aug </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Aug' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Aug')"> {{element.August_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="September_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Sep </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Sep' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Sep')"> {{element.September_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="October_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Oct </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Oct' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Oct')"> {{element.October_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="November_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Nov </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Nov' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Nov')"> {{element.November_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="December_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Dec </th>
                                <td mat-cell *matCellDef="let element" class="ref" [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : SelectedMonth == 'Dec' && element.CycleTimeCategory == SelectedCategory ? 'rgb(245, 176, 65)' : SelectedMonth != 'Overall' && element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : '#FFFFFF'}" (click)="onCategoryMonthClick(element.CycleTimeCategory,'Dec')"> {{element.December_A}} </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="H_Two_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> H-2 </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color' : element.TargetCycleTime >= element.H_Two_A ? '#A9D08E' : (element.TargetCycleTime < element.H_Two_A && (element.TargetCycleTime+5) > element.H_Two_A) ? '#FFE699' : '#FF7C80'}" style="font-weight: bold;"> {{element.H_Two_A}} </td>
                            </ng-container>
                            <ng-container matColumnDef="TargetCycleTime">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Target H2 </th>
                                <td mat-cell *matCellDef="let element"  [ngStyle]="{'font-weight' : element.CycleTimeCategory == 'Overall' ? 'bold' : 'normal','background-color' : element.CycleTimeCategory == 'Overall' ? 'rgba(133, 146, 158,3)' : 'rgb(213, 216, 220)'}" style="font-weight: bold;"> {{element.TargetCycleTime}} </td>
                            </ng-container> -->
                            <ng-container matColumnDef="Target_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="padding-right: 10px;border-right: none;text-align: center;background-color:  #34495E;color: white;"> Target </th>
                                <td mat-cell *matCellDef="let element;" style="background-color: rgb(213, 216, 220);border-right: none;padding-right : 10px;font-weight: bold;"> {{element.Target_A}} </td>
                                <!-- [rowSpan]="6" -->
                            </ng-container>
                            <!-- <ng-container matColumnDef="Total_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="padding-right: 10px;border-right: none;text-align: center;background-color:  #34495E;color: white"> Full Year Average</th>
                                <td mat-cell *matCellDef="let element;let iRow = index" [attr.rowspan]="rowSpans[14][iRow].span" [style.display]="rowSpans[14][iRow].span === 0 ? 'none'  : ''" style="background-color: rgba(133, 146, 158,3);border-right: none;padding-right : 10px;font-weight: bold;"> {{element.Total_A}} </td>
                            </ng-container> -->
                            <ng-container matColumnDef="Total_A">
                                <th mat-header-cell *matHeaderCellDef class="textSizes" style="text-align: center;background-color:  #34495E;color: white;width: 80px;"> Current Cycle Time</th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color' : element.Target_A >= element.Total_A ? '#A9D08E' : (element.Target_A < element.Total_A && (element.Target_A+5) > element.Total_A) ? '#FFE699' : '#FF7C80'}"  style="font-weight: bold;width: 80px;"> {{element.Total_A}} </td>
                            </ng-container>
                            <ng-container  matColumnDef="loader" sticky>
                                <!-- [ngStyle]="{'height' : isLoading == true ? (screenHeight-365)+'px' : '0px'}" -->
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 100%;border-right: none;border-bottom: none;padding-left: 0px;padding-right: 0px;" colspan="18">
                                    <div style="width: 100%;text-align: center;padding-left: 50%">
                                        <mat-spinner *ngIf="m_loader" strokeWidth="5" style="margin-top: 40px;margin-bottom: 60px;" color="warn"></mat-spinner>
                                    </div>
                                </th>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="padding-top: 0px;margin-top: 0px;height: 35px"></tr>
                            <tr mat-header-row *matHeaderRowDef="['loader']; sticky: true" style="padding-top: 0px;margin-top: 0px;" [ngStyle]="{'height' : m_loader == true ? 'auto' : '0px'}"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 35px;"></tr>
                            <!-- style="height: 35px;" -->
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <label style="color: red;font-weight:  bold;margin-left: 15px;"> *Please click on the overall Cycle Time for a particular month and view the detail in the table below.</label>
                </div>
                <div class="row col-md-12" style="margin: 0px">
                    <div class="col-md-7" style="margin-top: 25px;text-align: right;">
                        <mat-form-field style="width: 60%;margin-left: 10px;">
                            <mat-label style="padding-left: 5px;font-weight: bold;">Search</mat-label>
                            <input matInput (keyup)="applyFilter($event)" #input  [(ngModel)]="CycleTimeDataSearch" name="CycleTimeDataSearch">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-5" style="text-align: right;margin-top: 25px;padding-right: 30px;">
                        <button mat-raised-button style="background-color: #F16950;color: white;" (click)="exportCycleTimeData()">Export <mat-icon style="color: white;font-size: 20px;margin-top: 4px;">save_alt</mat-icon></button>
                    </div>
                </div>
                <div class="col-md-12">
                    <label style="color: red;font-weight:  bold;margin-left: 15px;"> *Above 365 Cycle time records are excluded in this report.</label>
                </div>
                <div class="col-md-12">
                    <div class="example-container" [ngStyle]="{'height' : (screenHeight-80)+'px'}" style="margin-left: 15px;border: 1px solid rgb(196, 196, 196);">
                        <table mat-table matTableFilter [dataSource]="dataSource_data" style="text-align: center;" #GMSort="matSort" matSort>
                            <ng-container matColumnDef="Client">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="padding-left: 10px;background-color:  #34495E;color: white;text-align: center;"> Client </th>
                                <td mat-cell *matCellDef="let element" class="ref"  style="padding-left: 10px;text-align: left;"><label (click)="ShowComment(element.Client,element.RevenueID,'')" class="showlessText"> {{element.Client}} </label></td>
                            </ng-container>
                            <ng-container matColumnDef="RevenueID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="background-color:  #34495E;color: white;text-align: center;"> Revenue ID </th>
                                <td mat-cell *matCellDef="let element"> {{element.RevenueID}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Workspace_Title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Workspace_Title </th>
                                <td mat-cell *matCellDef="let element"><label (click)="ShowComment(element.Client,element.RevenueID,element.Workspace_Title)" class="showlessText"> {{element.Workspace_Title}}</label> </td>
                            </ng-container>
                            <ng-container matColumnDef="MilestoneTitle">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> MilestoneTitle </th>
                                <td mat-cell *matCellDef="let element"> <label (click)="ShowComment(element.Client,element.RevenueID,element.MilestoneTitle)" class="showlessText">{{element.MilestoneTitle}} </label></td>
                            </ng-container>
                            <ng-container matColumnDef="ImplementationType">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> ImplementationType </th>
                                <td mat-cell *matCellDef="let element"><label (click)="ShowComment(element.Client,element.RevenueID,element.ImplementationType)" class="showlessText"> {{element.ImplementationType}}</label> </td>
                            </ng-container>
                            <ng-container matColumnDef="Region">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Region </th>
                                <td mat-cell *matCellDef="let element"> {{element.Region}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Country">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Country </th>
                                <td mat-cell *matCellDef="let element" style="white-space: nowrap;"> {{element.Country}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ProjectStatus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white">Project Status</th>
                                <td mat-cell *matCellDef="let element"> <label (click)="ShowComment(element.Client,element.RevenueID,element.ProjectStatus)" class="showlessText">{{element.ProjectStatus}}</label> </td>
                            </ng-container>
                            <ng-container matColumnDef="ProjectLevel">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Project Level </th>
                                <td mat-cell *matCellDef="let element"> {{element.ProjectLevel}} </td>
                            </ng-container>
                            <ng-container matColumnDef="GoLive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Go Live Date </th>
                                <td mat-cell *matCellDef="let element" style="white-space: nowrap;"> {{element.GoLive}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ProjectStart">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Project Start Date</th>
                                <td mat-cell *matCellDef="let element" style="white-space: nowrap;"> {{element.ProjectStart}} </td>
                            </ng-container>
                            <ng-container matColumnDef="CycleTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Cycle Time</th>
                                <td mat-cell *matCellDef="let element"> {{element.CycleTime}} </td>
                            </ng-container>
                            <ng-container matColumnDef="CycleTimeCategories">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Cycle Time Categories</th>
                                <td mat-cell *matCellDef="let element"><label (click)="ShowComment(element.Client,element.RevenueID,element.CycleTimeCategories)" class="showlessText"> {{element.CycleTimeCategories}}</label> </td>
                            </ng-container>
                            <ng-container matColumnDef="CycleTimeDelayCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Cycle Time Delay Code </th>
                                <td mat-cell *matCellDef="let element"><label (click)="ShowComment(element.Client,element.RevenueID,element.CycleTimeDelayCode)" class="showlessText"> {{element.CycleTimeDelayCode}}</label> </td>
                            </ng-container>
                            <ng-container matColumnDef="EltClientDelayDescription">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Elt Client Delay Description </th>
                                <td mat-cell *matCellDef="let element"><label (click)="ShowComment(element.Client,element.RevenueID,element.CycleTimeDelayCode)" class="showlessText"> {{element.EltClientDelayDescription}}</label> </td>
                            </ng-container>
                            <ng-container matColumnDef="GoLiveYear">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="text-align: center;background-color:  #34495E;color: white"> Go Live Year</th>
                                <td mat-cell *matCellDef="let element"> {{element.GoLiveYear}} </td>
                            </ng-container>
                            <ng-container matColumnDef="GoLiveMonth">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="textSizes" style="padding-right: 10px;border-right: none;text-align: center;background-color:  #34495E;color: white"> Go Live Month </th>
                                <td mat-cell *matCellDef="let element" style="border-right: none;padding-right : 10px;"> {{element.GoLiveMonth}} </td>
                            </ng-container>
                            <ng-container  matColumnDef="loader" sticky>
                                <!-- [ngStyle]="{'height' : isLoading == true ? (screenHeight-365)+'px' : '0px'}" -->
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 100%;border-right: none;border-bottom: none;padding-left: 0px;padding-right: 0px;" colspan="15">
                                    <div style="width: 100%;text-align: center;padding-left: 50%">
                                        <mat-spinner *ngIf="allloader" strokeWidth="5" style="margin-top: 70px;margin-bottom: 200px;" color="warn"></mat-spinner>
                                    </div>
                                </th>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns_data; sticky: true" style="padding-top: 0px;margin-top: 0px;height: 20px"></tr>
                            <tr mat-header-row *matHeaderRowDef="['loader']; sticky: true" style="padding-top: 0px;margin-top: 0px;" [ngStyle]="{'height' : allloader == true ? (screenHeight-365)+'px' : '0px'}"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns_data;" style="height: 20px;"></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div style="position: absolute;cursor: pointer;width: 30px;height: 30px;background-color: #333F48;margin-left: 0px;margin-top: 20%;" class="mat-elevation-z2" (click)= "sidenav.toggle()"><mat-icon *ngIf="!sidenav.opened" style="color: white;font-size: 24px;margin-top: 2px;margin-left: 3px;">arrow_forward_ios</mat-icon><mat-icon *ngIf="sidenav.opened" style="color: white;font-size: 24px;margin-top: 2px;margin-left: 8px;">arrow_back_ios</mat-icon></div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>