<div class="center" [ngStyle]="{'height' : (screenHeight)+'px','line-height' : (screenHeight)+'px'}" style="background-color:  #F16950;">    
    <div>
        <mat-card class="example-card mat-elevation-z4" style="text-align: left;">
            <div class="col-md-12" style="text-align: center;">
                <label class="header_text">Forgot your password?</label>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <label class="forgotpassword_content">Don't worry! Just fill in your registered Email and UID. we'll send you the account Password.</label>
            </div>
            <mat-form-field class="col-md-12 mat-form-wrap"appearance="outline">
                <mat-label>UID</mat-label>
                <input style="color: gray;" [(ngModel)]="UID" type="text" name="UID" matInput required>
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field class="col-md-12 mat-form-wrap"appearance="outline">
                <mat-label>Email Id</mat-label>
                <input style="color: gray;" [(ngModel)]="Email" type="text" name="Email" matInput required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <div class="col-md-12" style="text-align: center;">
                <button mat-raised-button (click)="SendEmail()" style="background-color: #F16950;color: white;margin-bottom: 10px;">Send Email</button>
            </div>
        </mat-card>
        <mat-card class="example-card mat-elevation-z4" style="height: 55px;">
            <div class="col-md-12" style="text-align: center;">
                <label class="signin_button" (click)="OnLoginClick()">Sign In</label>
            </div>
        </mat-card>
    </div>
</div>