<div style="width: 100%;">
    <label>{{HeaderText}}</label>
</div>
<div style="background-color: rgb(212, 212, 212);height: 1px;margin-bottom: 15px;" class="col-12"></div>
<div class="row">
    <mat-form-field class="col-md-3">
        <mat-label>Region</mat-label>
        <mat-select [(ngModel)]="SelectedRegion" required>
            <mat-option value="LATAM">LATAM</mat-option>
            <mat-option value="NORAM">NORAM</mat-option>
            <mat-option value="EMEA">EMEA</mat-option>
            <mat-option value="APAC">APAC</mat-option>
            <mat-option value="Global">Global</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-3">
        <mat-label>iMeet Project Level</mat-label>
        <mat-select [(ngModel)]="iMeetPLevel" (selectionChange)="LevelChanged()" required>
            <mat-option value="Global">Global</mat-option>
            <mat-option value="Regional">Regional</mat-option>
            <mat-option value="Local">Local</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-3">
        <mat-label>Project Level(Country)</mat-label>
        <input matInput [(ngModel)]="CPLevel" name="CPLevel" [disabled]="CountryDisabled" required>
    </mat-form-field>
    <mat-form-field class="col-md-3">
        <mat-label>Leader</mat-label>
        <input matInput [(ngModel)]="Leader" name="Leader" required>
    </mat-form-field>
    <mat-form-field class="col-md-3" style="margin-top: 10px;">
        <mat-label>Resource Name</mat-label>
        <input matInput [(ngModel)]="Manager" name="Manager" required>
    </mat-form-field>
    <mat-form-field class="col-md-3" style="margin-top: 10px;">
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="ImplementationLevel" required>
            <mat-option value="Digital">Digital</mat-option>
            <mat-option value="Digital & PM">Digital & PM</mat-option>
            <mat-option value="PM 1">PM 1</mat-option>
            <mat-option value="PM 2">PM 2</mat-option>
            <mat-option value="PM 3">PM 3</mat-option>
        </mat-select>
        <!-- <input matInput [(ngModel)]="ImplementationLevel" name="ImplementationLevel" required> -->
    </mat-form-field>
    <mat-form-field class="col-md-3" style="margin-top: 10px;">
        <mat-label>Work Schedule</mat-label>
        <input matInput [(ngModel)]="Shedule" name="Shedule" required>
    </mat-form-field>
    <mat-form-field class="col-md-3" style="margin-top: 10px;">
        <mat-label>Working Days</mat-label>
        <input matInput [(ngModel)]="workingdays" name="workingdays" disabled="true" required>
    </mat-form-field>
    <div class="col-md-2" style="margin-top: 10px;">
        <label class="labeltext">Mon : </label>
        <mat-form-field style="width: 75px;" appearance="outline">
            <input matInput type="number" min="0" max="1" [formControl]="Monday" required value="0">
        </mat-form-field>
    </div>
    <div class="col-md-2" style="margin-top: 10px;">
        <label class="labeltext">Tue : </label>
        <mat-form-field style="width: 75px;" appearance="outline">
            <input matInput type="number" min="0" max="1" [formControl]="Tuesday" required value="0">
        </mat-form-field>
    </div>
    <div class="col-md-2" style="margin-top: 10px;">
        <label class="labeltext" style="margin-left: 0px;">Wed : </label>
        <mat-form-field style="width: 75px;" appearance="outline">
            <input matInput type="number" min="0" max="1" [formControl]="Wednesday" required value="0">
        </mat-form-field>
    </div>
    <div class="col-md-2" style="margin-top: 10px;">
        <label class="labeltext" style="margin-left: 0px;">Thur : </label>
        <mat-form-field style="width: 75px;" appearance="outline">
            <input matInput type="number" min="0" max="1" [formControl]="Thursday" required value="0">
        </mat-form-field>
    </div>
    <div class="col-md-2" style="margin-top: 10px;">
        <label class="labeltext" style="margin-left: 0px;">Fri : </label>
        <mat-form-field style="width: 75px;" appearance="outline">
            <input matInput type="number" min="0" max="1" [formControl]="Friday" required value="0">
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <label class="labeltext" style="margin-left: 0px;">Targeted Utilization : </label>
        <mat-form-field style="width: 75px;" appearance="outline">
            <input matInput type="number" min="0" max="45" required [(ngModel)]="TargetedUtilization" name="TargetedUtilization" value="0">
        </mat-form-field>
    </div>
    <div class="col-12" style="height: 35px;margin: 0px;padding: 0px;text-align: center">
        <button mat-raised-button style="background-color: #F16950;color: white;" (click)="SaveData()">{{ButtonText}}</button>
    </div>
</div>